.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1.5rem 0;
}

.wrapper:focus {
    border: 1px solid blue;
}

.Paper {
    padding: 0.5rem;
    width: max(min(75vw - 1rem, 750px), 280px);
}

.name {
    font-size: 1rem;
    font-weight: 400;
}

/* https://mui.com/material-ui/customization/breakpoints/ */
@media screen and (max-width: 600px) {
    body {
        font-size: 0.875rem;
    }
}

.citations_wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.citations_wrapper p {
    margin: 0;
}
