.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Paper {
    padding: 0.5rem;
    margin: 1rem;
    max-width: 750px;
}

.name {
    font-size: 1rem;
}

.citations_wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}