.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map_wrapper {
    width: 75vw;
    height: 75vh;
}

/* https://mui.com/material-ui/customization/breakpoints/ */
@media screen and (max-width: 900px) {
    .map_wrapper {
        width: 90vw;
    }
}

@media screen and (max-width: 600px) {
    .map_wrapper {
        width: 100vw;
        height: 100vw;
    }
}