<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Description</title>

        <style>
            form {
                display: flex;
                flex-direction: column;
                width: 300px;
            }

            input,
            textarea {
                margin-bottom: 16px;
            }

            button {
                width: 100px;
            }
        </style>
    </head>
    <body>
        <p>Add a description for an animal in the database.</p>
        <form
            method="post"
            action="addDescription"
            onsubmit="return confirm('Do you want to submit?')"
        >
            <input
                type="text"
                name="commonName"
                id="commonName"
                placeholder="Common Name"
            />
            <input
                type="text"
                name="scientificName"
                id="scientificName"
                placeholder="Scientific Name"
            />
            <textarea
                name="description"
                id="description"
                cols="30"
                rows="10"
                placeholder="Animal Description"
                spellcheck="true"
            ></textarea>
            <textarea
                name="citations"
                id="citations"
                cols="30"
                rows="10"
                placeholder="Citations (Seperate citations with commas)"
                spellcheck="true"
            ></textarea>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
